/**
 * Owl theme for reveal.js.
 * Author: Tom Ranner (T.Ranner at leeds.ac.uk)
 * Base on ideas from TODO
 * TODO
 */
/**
 * Metropolis colors by Ethan Schoonover
 */
:root {
    --main-bg-color: black;
    --main-fg-color: white;
    --hl-fg-color1:  orange;
    --hl-fg-color2:  red;
}
