/**
 * Metropolis theme for reveal.js.
 * Author: Tom Ranner (T.Ranner at leeds.ac.uk)
 * Base on ideas from mtheme by Matthias Vogelgesang
 * https://github.com/matze/mtheme
 */
/**
 * Metropolis colors
 */
:root {
    --main-bg-color: #002b36;
    --main-fg-color: #93a1a1;
    --hl-fg-color1:  #268bd2;
    --hl-fg-color2:  #dc322f;
}
