[submodule "js/revealjs"]
	path = js/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "js/mathjax"]
	path = js/mathjax
	url = https://github.com/mathjax/MathJax.git
[submodule "js/menu"]
	path = js/menu
	url = https://github.com/denehyg/reveal.js-menu.git
