/**
 * Metropolis theme for reveal.js.
 * Author: Tom Ranner (T.Ranner at leeds.ac.uk)
 * Base on ideas from mtheme by Matthias Vogelgesang
 * https://github.com/matze/mtheme
 */
/**
 * Metropolis colors
 */
:root {
    /* --main-bg-color: #fafafa; */
    /* --main-fg-color: #23373b; */
    --main-bg-color: white;
    --main-fg-color: black;
    --hl-fg-color1:  blue;
    --hl-fg-color2:  red;
}
